<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/ot/dist/ot.js"></script>
    <link rel="stylesheet" href="/stylesheets/codemirror.css">
    <script src="/javascripts/codemirror.js"></script>
    <script src="/javascripts/editor.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<textarea id="codeEditor"></textarea>
</body>
<script>
    (new CodeEditor(document.getElementById('codeEditor'))).init();
</script>
</html>
